* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.container {
    min-width: 540px;
    font-size: 30px;
    padding: 40px;
}

.btn, .form-control {
    font-size: 1.5rem;
}


h1, h3 {
    font-size: calc(1.9rem + 1.5vw);
    
}

p {font-size: calc(0.5rem + 1.5vw);
}


td {
    padding: 20px 5px;
    font-size: 0.9rem;

    white-space: nowrap; 
    
    

}

tr{
    margin: 5px auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
tr>td:first-child {
    padding-left: 20px;
    align-self: flex-start;
}

tr>td:last-child {
    padding-right: 20px;
}

img {
    width: 150px;
    border: 1px solid gray;
    margin: 0px auto;
    text-align: center;
}